@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

// FONTS


// COLORS

$orange: #F99A18;


$green: #00ed95;
$blue: #176bfb;
$fucsia: #F4097F;
$red: #de1f4d;
$light_pink: #FCDDEC;
$dark_gray: #49565b;
$medium_gray: #708394;
$gray_light: #f6f6f9;
$dark_black: #171B1D;

$gray: #ADADAD;
$medium_gray2: #737373;

$white: #fff;